/* Variables */
/* Mixin - Condicionables */
* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #402063;
  border-bottom: 2px solid #6935A2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  font-size: 14px;
  padding: 16px 40px;
  position: sticky;
  top: 0;
}
nav .logo-menu, nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
nav .menu a {
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav .menu a:hover {
  font-family: "Poppins";
  font-weight: 500;
  color: #cecece;
}
nav .buttons-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
nav .shop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border-color: transparent;
  border-width: 0;
  padding: 10px;
  text-align: center;
  background-color: #F5F5F5;
  transition: background-color 0.3s ease;
}
nav .shop img {
  width: 20px;
}
nav .shop:hover {
  border-radius: 100%;
  border-color: transparent;
  border-width: 0;
  padding: 10px;
  text-align: center;
  background-color: #cecece;
}
nav .esim {
  background-color: #5FC323;
  transition: background-color 0.3s ease;
}
nav .esim:hover {
  background-color: #4fa31f;
}

button {
  border-radius: 42px;
  border-color: transparent;
  border-width: 0;
  padding: 10px 15px;
  text-align: center;
  background-color: #00A9E0;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #058ab6;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 26px;
  background-color: #402063;
  gap: 16px;
}
.hero h1 {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  font-size: 45px;
}
.hero p {
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  font-size: 15px;
}
.hero .buttons-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero .buttons-hero .descubre {
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.hero .buttons-hero .descubre:hover {
  background-color: #351b52;
}
.hero img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.plans {
  padding: 60px 40px;
  background-color: #F5F5F5;
}
.plans .text-button-plans {
  display: grid;
  justify-items: stretch;
  align-content: center;
  grid-template-columns: 70% 30%;
  padding-bottom: 60px;
}
.plans .text-button-plans .text-plans h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: #402063;
  font-size: 36px;
}
.plans .text-button-plans .text-plans p {
  font-family: "Poppins";
  font-weight: 500;
  color: #404040;
}
.plans .text-button-plans .button-plans {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.plans .text-button-plans button {
  border: 2px solid #402063;
  background-color: transparent;
  color: #402063;
  transition: all 0.5s ease;
}
.plans .text-button-plans button:hover {
  border: 2px solid #402063;
  background-color: #402063;
  color: white;
}
.plans .cards-plans {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.plans .cards-plans .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 85%;
  gap: 8px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.plans .cards-plans .card p {
  font-family: "Poppins";
  font-weight: 700;
  color: #402063;
  line-height: 25px;
}
.plans .cards-plans .card h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: #5FC323;
  font-size: 47px;
}
.plans .cards-plans .card button {
  width: 100%;
}

.app {
  display: grid;
  justify-items: stretch;
  align-content: center;
  grid-template-columns: 55% 45%;
  padding: 0 70px;
  background-color: #402063;
}
.app .image-app img {
  display: flex;
  width: 100%;
}
.app .info-app {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
}
.app .info-app .text-app h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  text-align: end;
  font-size: 46px;
  line-height: 50px;
}
.app .info-app .text-app p {
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  margin-top: 15px;
  text-align: end;
}
.app .info-app .download-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: #F5F5F5;
  padding: 40px 0px;
}
.solutions .text-solutions h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: #402063;
  font-size: 36px;
}
.solutions .text-solutions p {
  font-family: "Poppins";
  font-weight: 500;
  color: #404040;
  text-align: center;
}
.solutions .buttons-solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}
.solutions .buttons-solutions a {
  text-decoration: none;
}
.solutions .buttons-solutions button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #402063;
  padding: 30px 40px;
  text-align: center;
}
footer .copyright p {
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  font-size: 14px;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .social-media button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border-color: transparent;
  border-width: 0;
  padding: 10px;
  text-align: center;
  background-color: #F5F5F5;
  transition: background-color 0.3s ease;
}
footer .social-media button img {
  width: 20px;
}
footer .social-media button:hover {
  background-color: #cecece;
}

/* Responsive */
@media only screen and (max-width: 720px) {
  .text-hero h1 {
    font-size: 36px;
    word-break: break-word;
    width: 380px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  footer .copyright p {
    text-align: center;
    margin: 0;
  }
}
@media only screen and (max-width: 962px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 35px 20px 0 20px;
  }
  .app .image-app {
    display: flex;
    order: 2;
  }
  .app .info-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 1;
  }
  .app .info-app .text-app h1, .app .info-app .text-app p {
    text-align: center;
  }
  nav {
    padding: 10px 20px;
  }
  .buttons-mav .menu-responsive {
    display: flex;
  }
  .plans .text-button-plans {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }
  .solutions {
    padding: 40px 20px;
  }
  .solutions .text-solutions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .solutions .text-solutions h1 {
    text-align: center;
    line-height: 40px;
  }
  .solutions .buttons-solutions button {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1011px) {
  .buttons-nav .menu-responsive {
    display: flex;
  }
  .menu a {
    display: none;
  }
  .plans {
    padding: 30px 40px;
  }
  .plans .text-button-plans .text-plans h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .plans .cards-plans {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  .plans .cards-plans .card {
    width: 80%;
  }
}
@media only screen and (min-width: 1012px) {
  nav .buttons-nav .menu-responsive {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */