@use "./_utilidades" as *
	
*
	margin: 0
	padding: 0

nav
	background-color: $main-color
	border-bottom: 2px solid #6935A2
	@include flex(flex, space-between, center)
	@include text()
	font-size: 14px
	padding: 16px 40px
	position: sticky
	top: 0
	.logo-menu, .menu
		@include flex()
		gap: 25px
	.menu a
		@include text()
		text-decoration: none
	.menu a:hover
		@include text("Poppins", 500, #cecece)
	.buttons-nav
		@include flex()
		gap: 15px
	.shop
		@include flex()
		@include circle()
		img
			width: 20px
	.shop:hover
		@include circle(100%,transparent,0,10px,center,#cecece)
	.esim
		background-color: $green-color
	.esim:hover
		background-color: #4fa31f

button
	@include buttons()
	@include text("Poppins", 600)
	font-size: 14px
	cursor: pointer
button:hover
	background-color: #058ab6

.hero
	@include flex()
	flex-direction: column
	padding-top: 26px
	background-color: $main-color
	gap: 16px
	h1
		text-align: center
		@include text("Poppins", 600)
		font-size: 45px
	p
		text-align: center
		@include text()
		font-size: 15px
	.buttons-hero
		@include flex()
		gap: 15px
		.descubre
			@include t-buttons()
		.descubre:hover
			@include t-buttons(2px solid #FFFF, #402063)
	img
		margin-top: 10px
		width: 100%

.plans
	padding: 60px 40px
	background-color: $white-color
	.text-button-plans
		@include flex(grid, stretch, center)
		grid-template-columns: 70% 30%
		padding-bottom: 60px
		.text-plans
			h1
				@include text("Poppins", 700, $main-color)
				font-size: 36px
			p
				@include text("Poppins", 500, #404040)
		.button-plans
			@include flex(flex, flex-end, flex-start)
		button
			@include t-buttons(2px solid $main-color, transparent)
			color: $main-color
		button:hover
			@include t-buttons(2px solid $main-color, $main-color)
			color: white

	.cards-plans
		@include flex(grid)
		grid-template-columns: repeat(4, 1fr)
		gap: 30px
		.card
			@include flex(flex, center, flex-start)
			flex-direction: column
			width: 85%
			gap: 8px
			padding: 18px
			border-radius: 20px
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
			p
				@include text("Poppins", 700, $main-color)
				line-height: 25px
			h1
				@include text("Poppins", 700, $green-color)
				font-size: 47px
			button
				width: 100%

.app
	@include flex(grid, stretch, center)
	grid-template-columns: 55% 45%
	padding: 0 70px
	background-color: $main-color
	.image-app img
		width: 100%
	.image-app-responsive img
		display: none
	.info-app
		@include flex(flex, center, flex-end)
		flex-direction: column
		gap: 20px
		.text-app
			h1
				@include text("Poppins", 700)
				text-align: end
				font-size: 46px
				line-height: 50px
			p
				@include text()
				margin-top: 15px
				text-align: end
		.download-buttons
			@include flex()
			gap: 10px

.solutions
	@include flex()
	flex-direction: column
	gap: 25px
	background-color: $white-color
	padding: 40px 0px
	.text-solutions
		h1
			@include text("Poppins", 700, $main-color)
			font-size: 36px
		p
			@include text("Poppins", 500, #404040)
			text-align: center
	.buttons-solutions
		@include flex()
		gap: 25px
		margin-top: 10px
		a
			text-decoration: none
		button
			text-align: center
			@include flex()
			gap: 5px

footer
	@include flex(flex, space-between, center)
	background-color: $main-color
	padding: 30px 40px
	text-align: center
	.copyright p
		@include text("Poppins", 400)
		font-size: 14px
		text-align: center
	.social-media
		@include flex()
		gap: 10px
		button
			@include flex()
			@include circle()
			img
				width: 20px
		button:hover
			background-color: #cecece

/* Responsive

@media only screen and (max-width: 720px)
	.text-hero h1
		font-size: 36px
		word-break: break-word
		width: 380px
		line-height: 40px
		padding-bottom: 10px

	.solutions
		padding: 40px 20px

	footer
		@include flex()
		flex-direction: column
		gap: 20px
		.copyright p
			text-align: center
			margin: 0

@media only screen and (max-width: 962px)
	.app
		@include flex(grid)
		grid-template-columns: 100%
		gap: 15px
		padding: 35px 20px 0 20px
		justify-items: center
		.image-app img
			display: none
		.image-app-responsive img
			display: flex
			width: 100%
		.info-app
			@include flex(flex, center, center)
			flex-direction: column
			.text-app
				h1, p
					text-align: center

@media only screen and (max-width: 1011px)
	.menu-responsive
		display: flex
	.menu a
		display: none
	.plans
		padding: 30px 40px
		.text-button-plans
			.text-plans h1
				font-size: 32px
				line-height: 40px
				margin-bottom: 10px
		.cards-plans
			@include flex(grid)
			grid-template-columns: 50% 50%
			gap: 20px
			.card
				width: 80%

@media only screen and (min-width: 1012px)
	nav
		.logo-menu
			.menu-responsive
				display: none